body {
    background-color: honeydew;
    color: black;
    font-size: 1.2em;
    font-family: georgia;
    background-image: url("https://images8.alphacoders.com/430/430830.jpg");
}
h1 {
    text-align: center;
    font-size: 2.1em;
    font-family: georgia;
    border: 5px solid black;
    border-radius: 5px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 25px;
}
a:link {
    color: black;
    font-weight: bold;
}

a:visited {
   color: darkblue;
}

a:hover {
   color: darkgreen;
}
   
a:active {
   color: purple;
}

footer {
   
}